{{define "root"}}
	<html>
		<head>
			<title>Sourcegraph documentation</title>
			<link rel="stylesheet" type="text/css" href="{{asset "layout.css"}}" />
			<link rel="stylesheet" type="text/css" href="{{asset "content.css"}}" />
			<base href="/{{.FilePath}}" />
		</head>
		<body>
			<header id="header">
				<div class="container">
					<a href="/" id="logo"><img src="{{asset "sourcegraph-logo.svg"}}" /> Documentation</a>
					<nav>
						<!--<iframe src="https://ghbtns.com/github-btn.html?user=sourcegraph&repo=sourcegraph&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe> -->
						<a href="https://github.com/sourcegraph/sourcegraph">Code</a>
						<a href="https://about.sourcegraph.com">About</a>
						<a href="https://sourcegraph.com">Sourcegraph.com</a>
						</nav>
				</div>
			</header>
			<div id="content" class="backdrop">
				<nav class="index"><!-- TODO(sqs): put TOC here --></nav>
				<section class="body markdown-body">
					<nav class="breadcrumbs">
					{{range .Breadcrumbs}}
						<a href="{{.URL}}" class="{{if .IsActive}}active{{end}}">{{.Label}}</a> {{if not .IsActive}}/{{end}}
					{{end}}
					</nav>
					{{.Data|markdown}}
				</section>
			</div>
		</body>
	</html>
{{end}}