/* GLOBAL */
body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	background-color: #eaecef;
	color: #242f30;
}
a {
	color: #0066c5;
	text-decoration: none;
}

:root {
	--header-height: 40px;
	--width: 1100px;
	--spacing: 1rem;
}

/* UTILITIES */
.container {
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	max-width: var(--width);
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */
#header {
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
	background-color: #f4f6f8;
	border-bottom: solid 1px #e4e7ea;
}
#header > .container {
	display: flex;
	align-items: center;
	justify-content: between;
}
#header #logo, #header nav {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
#header #logo {
	flex: 0 0;
	display: flex;
	align-items: center;
	white-space: nowrap;
	color: inherit;
	text-decoration: none;
	margin-right: 1rem;
}
#header #logo img {
	width: 9rem;
	margin-right: 8px;
	margin-top: -1px;
}
#header nav {
	flex: 1 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 90%;
}
#header nav > a {
	padding: 0.25rem 0.5rem;
	text-decoration: none;
}

/* CONTENT */
.backdrop {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--width);
	display: flex;
	flex-flow: row-reverse;
	flex-wrap: wrap;
	justify-content: center;
}
#content > .index {
	flex: 0 0 calc(var(--width) * 0.25);
	padding: var(--spacing);
}
#content > .body {	
	min-width: calc(var(--width) * 0.6);
	flex: 1;
	background-color: white;
	padding: var(--spacing);
}
#content > .body > .breadcrumbs {
	font-size: 90%;
}
#content > .body > .breadcrumbs > .active {
	color: inherit;
	opacity: 0.8;
}